<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1>ノウチ株式会社</h1>
  <h2>
    This is the home page for the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  <p>身長 : 184cm</p>
  <p>体重 : 68kg</p>
  <p>出身 : 千葉県</p>
</div>